In [2]:
%load_ext bigdata
%timeout 300

In [3]:
%hive_start

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 11.614 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.969 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.424 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.15 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.091 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.025 seconds

In [8]:
%%hive
LOAD DATA LOCAL INPATH "tbl0.csv" OVERWRITE INTO TABLE tbl0;
SELECT * FROM tbl0 LIMIT 5;

LOAD DATA LOCAL INPATH "tbl0.csv" OVERWRITE INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 0.763 seconds
SELECT * FROM tbl0 LIMIT 5;
OK
1	D	4	2016-06-25	["a","e","c","d"]	{"bb":10,"dd":20,"cc":40}
2	C	4	2015-05-14	["a","c"]	{"dd":40,"bb":20,"cc":10}
3	D	6	2014-12-26	["b","d"]	{"aa":10,"bb":40}
4	D	5	2016-06-25	["a","c","e","b","d"]	{"bb":40,"dd":20,"aa":10,"cc":30}
5	C	7	2016-05-23	["d","e","c"]	{"cc":10,"aa":20}
Time taken: 0.232 seconds, Fetched: 5 row(s)

In [9]:
%%hive
LOAD DATA LOCAL INPATH "tbl1.csv" OVERWRITE INTO TABLE tbl1;
SELECT * FROM tbl1 LIMIT 5;

LOAD DATA LOCAL INPATH "tbl1.csv" OVERWRITE INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.683 seconds
SELECT * FROM tbl1 LIMIT 5;
OK
1	7	bb	{"A":0,"B":4,"C":1,"D":3,"E":5}
2	13	Cc	{"A":4,"B":1,"C":0,"D":5,"E":2}
3	11	dD	{"A":5,"B":4,"C":3,"D":1,"E":0}
4	3	BB	{"A":2,"B":4,"C":3,"D":5,"E":1}
5	14	cc	{"A":4,"B":0,"C":2,"D":5,"E":3}
Time taken: 0.2 seconds, Fetched: 5 row(s)

In [10]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
docs
docs2
tbl0
tbl1
tblo
Time taken: 0.05 seconds, Fetched: 5 row(s)

In [11]:
%%hive
DESCRIBE tbl0;

DESCRIBE tbl0;
OK
c1                  	int
c2                  	string
c3                  	int
c4                  	date
c5                  	array<char(1)>
c6                  	map<string,int>
Time taken: 0.053 seconds, Fetched: 6 row(s)

In [71]:
%%hive
SELECT upper (NVL(c5[0],'')),
upper (NVL(c5[1],'')),
upper (NVL(c5[2],'')),
upper (NVL(c5[3],'')),
upper (NVL(c5[4],''))
FROM tbl0;

SELECT upper (NVL(c5[0],'')),
upper (NVL(c5[1],'')),
upper (NVL(c5[2],'')),
upper (NVL(c5[3],'')),
upper (NVL(c5[4],''))
FROM tbl0;
OK
A	E	C	D
A	C
B	D
A	C	E	B	D
D	E	C
A	D
A	E	D
D	A	C	E
B	A	C	E
C	D	E	A	B
Time taken: 0.228 seconds, Fetched: 10 row(s)

In [31]:
%hive_quit