In [1]:
%load_ext bigdata
%timeout 300

In [2]:
%hive_start

In [3]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 17.642 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 1.592 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 2.903 seconds

In [4]:
%%hive
LOAD DATA LOCAL INPATH "data.tvs" OVERWRITE INTO TABLE t0;
SELECT * FROM t0 LIMIT 25;

LOAD DATA LOCAL INPATH "data.tvs" OVERWRITE INTO TABLE t0;
FAILED: SemanticException Line 1:23 Invalid path '"data.tvs"': No files matching path file:/datalake/evaluacion-final-DanielSerna09/03-hive-50/q12-10/data.tvs
SELECT * FROM t0 LIMIT 25;
OK
E	["b","g","f"]	{"jjj":3,"bbb":0,"ddd":9,"ggg":8,"hhh":2}
A	["a","f","c"]	{"ccc":2,"ddd":0,"aaa":3,"hhh":9}
B	["f","e","a","c"]	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
A	["a","b"]	{"hhh":9,"iii":5,"eee":7,"bbb":1}
C	["f","g","d","a"]	{"iii":6,"ddd":5,"eee":4,"jjj":3}
A	["c","d"]	{"bbb":2,"hhh":0,"ccc":4,"fff":1,"aaa":7}
A	["g","d","a"]	{"aaa":5,"fff":8,"ddd":2,"iii":0,"jjj":7,"ccc":1}
B	["b","a"]	{"fff":3,"hhh":1,"ddd":2}
E	["d","e","a","f"]	{"eee":4,"ccc":5,"iii":9,"fff":7,"ggg":6,"bbb":0}
B	["d","b","g","f"]	{"bbb":7,"jjj":9,"fff":5,"iii":4,"ggg":2,"eee":3}
C	["d","c","f","b"]	{"hhh":6,"eee":4,"iii":0,"fff":2,"jjj":1}
C	["d","e","a","c"]	{"bbb":7,"iii":6,"ggg":9}
D	["g","e","f","b"]	{"bbb":9,"aaa":3,"ccc":6,"fff":4,"eee":2}
E	["c","f"]	{"aaa":8,"ddd":5,"jjj":1}
B	["d","b"]	{"ccc":0,"jjj":6,"fff":7,"ddd":3,"aaa":2}
D	["f","e"]	{"ccc":0,"eee":6,"bbb":9,"ddd":3}
E	["e","b","f"]	{"bbb":6,"iii":3,"hhh":5,"fff":4,"ggg":9,"ddd":2}
D	["g","a"]	{"hhh":4,"jjj":5,"ccc":9}
E	["e","c","f","a"]	{"ccc":1,"iii":6,"fff":9}
E	["e","a"]	{"bbb":9,"aaa":3,"fff":1}
E	["e","f"]	{"ddd":9,"iii":2,"aaa":4}
E	["c","b","g"]	{"ccc":5,"fff":8,"iii":7}
D	["c","f","a"]	{"eee":3,"jjj":2,"ddd":7}
A	["f","a","d"]	{"jjj":1,"ggg":0,"ccc":7,"ddd":9,"bbb":3}
E	["c","d"]	{"jjj":6,"ccc":0,"aaa":1,"hhh":9,"iii":7,"ggg":8}
Time taken: 2.995 seconds, Fetched: 25 row(s)

In [12]:
%%hive
SELECT letra, key AS GrupLetra, 
count(1), 
letra FROM t0 LATERAL VIEW EXPLODE(c2) t0 as letra LATERAL VIEW EXPLODE(c3) t0 GROUP BY letra, key;

SELECT letra, key AS GrupLetra,
count(1),
) t0 GROUP BY letra, key;W EXPLODE(c2) t0 as letra LATERAL VIEW EXPLODE(c3
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209010848_8224375e-b4a8-4c67-b507-de6c8f1ef0b1
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581207947178_0006, Tracking URL = http://911d4781de62:8088/proxy/application_1581207947178_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581207947178_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 01:08:59,237 Stage-1 map = 0%,  reduce = 0%
2020-02-09 01:09:05,936 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.44 sec
2020-02-09 01:09:12,559 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.49 sec
MapReduce Total cumulative CPU time: 5 seconds 490 msec
Ended Job = job_1581207947178_0006
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.49 sec   HDFS Read: 15260 HDFS Write: 1640 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 490 msec
OK
a	aaa	5	a
a	bbb	7	a
a	ccc	13	a
a	ddd	13	a
a	eee	7	a
a	fff	10	a
a	ggg	8	a
a	hhh	8	a
a	iii	7	a
a	jjj	10	a
b	aaa	4	b
b	bbb	7	b
b	ccc	5	b
b	ddd	7	b
b	eee	5	b
b	fff	8	b
b	ggg	4	b
b	hhh	7	b
b	iii	7	b
b	jjj	5	b
c	aaa	5	c
c	bbb	4	c
c	ccc	12	c
c	ddd	9	c
c	eee	6	c
c	fff	8	c
c	ggg	7	c
c	hhh	7	c
c	iii	8	c
c	jjj	8	c
d	aaa	4	d
d	bbb	6	d
d	ccc	7	d
d	ddd	5	d
d	eee	6	d
d	fff	8	d
d	ggg	6	d
d	hhh	4	d
d	iii	9	d
d	jjj	8	d
e	aaa	3	e
e	bbb	8	e
e	ccc	9	e
e	ddd	7	e
e	eee	7	e
e	fff	9	e
e	ggg	4	e
e	hhh	4	e
e	iii	8	e
e	jjj	3	e
f	aaa	8	f
f	bbb	10	f
f	ccc	13	f
f	ddd	17	f
f	eee	11	f
f	fff	11	f
f	ggg	9	f
f	hhh	10	f
f	iii	10	f
f	jjj	12	f
g	aaa	3	g
g	bbb	3	g
g	ccc	6	g
g	ddd	5	g
g	eee	4	g
g	fff	5	g
g	ggg	4	g
g	hhh	3	g
g	iii	4	g
g	jjj	6	g
Time taken: 26.195 seconds, Fetched: 70 row(s)

In [18]:
%%hive
INSERT OVERWRITE DIRECTORY '/tmp/t0/GrupLetra'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    t0;

INSERT OVERWRITE DIRECTORY '/tmp/t0/GrupLetra'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    t0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209012829_863a74e1-1d22-449f-a7a7-02acec504a41
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581207947178_0008, Tracking URL = http://911d4781de62:8088/proxy/application_1581207947178_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581207947178_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 01:28:39,976 Stage-1 map = 0%,  reduce = 0%
2020-02-09 01:28:46,613 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.02 sec
MapReduce Total cumulative CPU time: 2 seconds 20 msec
Ended Job = job_1581207947178_0008
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/t0/GrupLetra/.hive-staging_hive_2020-02-09_01-28-29_848_7293901705636845433-1/-ext-10000
Moving data to directory /tmp/t0/GrupLetra
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.02 sec   HDFS Read: 5356 HDFS Write: 1356 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 20 msec
OK
Time taken: 17.906 seconds

In [19]:
!hdfs dfs -ls /tmp/t0/GrupLetra

Found 1 items
-rwxrwxrwx   1 root supergroup       1356 2020-02-09 01:28 /tmp/t0/GrupLetra/000000_0

In [20]:
!hdfs dfs -tail /tmp/t0/GrupLetra/000000_0

7jjj9fff5iii4ggg2eee3
C,dcfb,hhh6eee4iii0fff2jjj1
C,deac,bbb7iii6ggg9
D,gefb,bbb9aaa3ccc6fff4eee2
E,cf,aaa8ddd5jjj1
B,db,ccc0jjj6fff7ddd3aaa2
D,fe,ccc0eee6bbb9ddd3
E,ebf,bbb6iii3hhh5fff4ggg9ddd2
D,ga,hhh4jjj5ccc9
E,ecfa,ccc1iii6fff9
E,ea,bbb9aaa3fff1
E,ef,ddd9iii2aaa4
E,cbg,ccc5fff8iii7
D,cfa,eee3jjj2ddd7
A,fad,jjj1ggg0ccc7ddd9bbb3
E,cd,jjj6ccc0aaa1hhh9iii7ggg8
E,edc,fff3eee6iii4bbb7ddd0ccc1
A,aef,fff0ddd5ccc4
E,cag,ggg6hhh3ddd9ccc0jjj7
A,fe,hhh6jjj0eee5iii7ccc3
C,fcag,eee1fff4aaa2ccc7ggg0ddd6
A,bf,ccc6aaa9eee5ddd0bbb3
D,bf,bbb7hhh1aaa6iii4fff9ddd5
E,ac,fff3ccc1ggg2eee5
B,bfc,iii7ggg3ddd0jjj8hhh5ccc1
B,fae,hhh6ccc3jjj0bbb8ddd7
D,af,aaa0fff5ddd3
B,ca,ddd5jjj2iii7ccc0bbb4
C,caef,eee0fff2hhh6
E,ed,fff9iii2eee0
E,fad,hhh8ggg3jjj5